body{
    margin-left: 50px;
    margin-right: 50px;
    /* background-color:rgb(48, 108, 41); */
    background-color: white;
}

.header .pure-menu{
    padding-top: 1em;
}

.pure-menu-link, body
{
    color: rgb(14, 68, 14);
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(255, 251, 247);
    font-family: Arial, Helvetica, sans-serif;
}

.pure-menu-link{
    padding: 0.5em;
}

.header .pure-menu a:hover{
    background: none;
    transform: translateY(2px);
    text-decoration:underline;
    text-underline-offset: 3px;
}

.line1{
    border: 1px dashed;
    width: 100%;
}

.box{
    padding: 1em;
    padding-left: 0em;
    cursor: pointer;
}

.box:hover {
    transform: translateY(-10px);
}

#btnControl {
    display: none;
}

#btnControl:checked + label > img {
    width: 200px;
    height: 200px;
}

.subHeader {
    padding-top: 2em;
    text-align: left;
    font-size: smaller;
}

.subLine {
    color: rgb(70, 126, 70);
    border: 2px solid;
    width: 8%;
    margin-left: 0px;
    border-radius: 2px;
}