body{
    margin-left: 80px;
    margin-right: 80px;
    /* background-color:rgb(48, 108, 41); */
}

.header .pure-menu{
    padding-top: 2em;
    font-size: calc(10px + 1.4vw);
}

.pure-menu-link, body
{
    color: white;
    /* rgb(14, 68, 14); */
    font-weight: bold;
    background-color: rgb(33, 34, 33);
    font-family: Arial, Helvetica, sans-serif;
}

.pure-menu-link{
    padding: 0.5em;
    padding-bottom: 1em;
}

.header .pure-menu a:hover{
    background: none;
    transform: translateY(2px);
    text-decoration:underline;
    text-underline-offset: 3px;
    color:rgb(170, 198, 175)
}

.line1{
    border: 0.15em dashed;
    width: 100%;
    color:white;
}

.box{
    padding: 1em;
    padding-left: 0em;
    cursor: pointer;
    padding-bottom: 2em;
}

.box:hover {
    transform: translateY(-10px);
}

h1 {
    text-align: left;
    font-size: 3em;
    font-weight: bold;
    color: white;
}

.subLine {
    color: rgb(170, 198, 175);
    border: 1px solid;
    width: 100%;
    margin-left: 0px;
    border-radius: 2px;
}

.sub {
    font-size: 1.4em;
    font-weight: lighter;
    color:rgb(231, 232, 231);
}

.dBox{
    padding: 2em;
    padding-top: 1em;
    padding-left: 0em;
}

.caption{
    text-align: center;
}

.caption a{
    text-align: center;
    font-size: 1.4em;
    font-weight: normal;
    color: white;
    text-decoration: none;
}

.caption a:hover {
    text-decoration: underline;
}

.film{
    padding-bottom: 1em;
    text-align: center;
}

.film .caption2{
    font-size: 1.4em;
    font-weight: normal;
}

.myPhoto {
    padding-top: 4em;
}

.myPhoto .pure-img{
    border-radius: 2px;
    float: right;
}

.myText{
    padding-top: 3em;
    padding-right: 1em;
}

.myText h2 {
    font-weight: normal;
    font-size: 1.5em;
    text-align: left;
}

.aCaption {
    font-weight: normal;
    font-size: 1.2em;
    text-align: center;
    padding-right: 4em;
}

.academicTitle {
    font-size: 2em;
    padding-top: 1em;
}

.aText {
    font-weight: normal;
    font-size: calc(0.65em + 0.75vw);
    word-spacing: 0.2em;
    text-align: left;
    padding-right: 2em;
}

.aImg {
    padding-top: 1em;
    padding-bottom: 1em;
}

.aImg:hover {
    opacity: 70%;
}

.aText2 {
    font-weight: normal;
    font-size: calc(0.8em + 0.75vw);
    word-spacing: 0.2em;
    text-align: left;
    padding-left: 2em;
}

.link {
    color: rgb(170, 198, 175)
}

.container {
    background-color: rgb(53, 61, 54);
    height: 35vw;
    width: 28vw;
    text-align: center;
}

.tech {
    padding-top: 1.5vw;
    padding-left: 2.5vw;
    width: 22.917vw;
    height: 20.833vw;
}

.tech:hover {
    opacity: 70%;
}

.techC {
    padding-left: 0.5;
    padding-right: 0.5;
}

.tText {
    text-align: left;
    padding-left: 3vw;
    padding-right: 3vw;
    font-weight: normal;
    font-size: 1.3vw;
}

.enlargedImage {
    width: 30%;
    height: 30%;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

